





<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
               
               <%= link_to "Viver Psicopedagogia", root_path,class:"fa fa-desktop fa-2x"  %>

                <br>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <% if user_signed_in? %>
                <strong><%= current_user.email %></strong>.

                  <li class="dropdown">
                    <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                 Usuario
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link fa fa-gear fa-fw'  %></a></li>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link fa fa-sign-out fa-fw'  %></li>
                  </ul>
                </div>
                </li>
                <!-- /.dropdown -->
               
            </ul>
            <%end%>
           
          
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                      
                        
                        <li>
                             <a href="#"><i class="fa fa-book fa-fw"></i> Manuais<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                               
                                <li>
                                     <%= link_to 'Blog', dashboard_blog_path %>
                                </li>
                                 <li>
                                     <%= link_to 'Loja', dashboard_site_path %>
                                </li>
                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                       
                        <li>
                            <a href="#"><i class="fa fa-file-text fa-fw"></i> Blog<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <%= link_to 'listar postagens', posts_path %>
                                </li>
                                <li>
                                     <%= link_to 'Nova postagem', new_post_path %>
                                </li>
                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                         <li>
                            <a href="#"><i class="fa fa-money fa-fw"></i> loja<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="http://admin.iluria.com/public/login.jsp">Ir para Loja</a>
                                </li>
                                
                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        
        <div id="wrapper">

        <!-- Navigation -->
        
