

<body id="home" class="homepage">
    <%= render 'header' %>
    <%= render 'main_slider' %>
    <%= render 'cta' %>
    <%= render 'about' %>
    <%= render 'services' %>
    <%= render 'portifolio' %>
    <%= render 'features' %>
    <%= render 'cta2' %>
    <%= render 'work_process' %>
    <%= render 'team' %>
    <%= render 'number' %>
    <%= render 'app' %>
    <%= render 'testemunhal' %>
    <%= render 'blog' %>
    <%= render 'get' %>
    <%= render 'contato' %>
    <%= render 'footer' %>
   

    

    
</body>
</html>
