<p id="notice"><%= notice %></p>


  
  
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Lista dde postagens</h3>
  </div>
  <div class="panel-body">
     <% @posts.each do |post| %>
      
<table class="table table-striped">
    <thead>
        <tr>
            <td>Titulo</td>
            <td>Autor</td>
            <td>Data</td>
            <td></td>
            
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
           <td><%= post.titulo %></td>
           <td><%= post.autor %></td>
           <td><%=post.created_at%></td>
           <td> <%= link_to 'Leia mais', post,class:"btn btn-primary" %></td>
           
           <td><%= link_to 'Apagar', post, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
        </tr>
    </tbody>
</table>
                <% end %>
                <%=will_paginate @posts,class:"pager"%>
                                <!-- Pager -->
                                
            </div>
  </div>
</div>

               

            
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                    <%= link_to 'New Post', new_post_path %>

                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

