<p id="notice"><%= notice %></p>


  <tbody>
    <% @blogs.each do |blog| %>
      

 <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Blog Padrão
                    <small>Postagens</small>
                </h1>

                <!-- First Blog Post -->
                <h2>
                    <%= blog.titulo %>
                </h2>
                <p class="lead">
                    by <%= blog.autor %>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Postado em  <%=blog.created_at%></p>
                <hr>
                <%= image_tag blog.avatar.url(:medium) %>
                <hr>
                <%= blog.abstract.html_safe %>
                <br>
                
                

                <hr>

                <form action="show" method="post">
                    <INPUT TYPE="hidden" NAME="_id" VALUE=<%= blog.id %>>
                         
                    <button type="submit" class="btn btn-primary">Leia mais</button>
                </form>

                
<% end %>
<%=will_paginate @blogs,class:"pager"%>
                <!-- Pager -->
                
            </div>


               

            
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                    <%= link_to 'New Post', new_post_path %>

                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    
